# order is the order pip will install, so if package A depends on B make sure B comes first
paramiko>=1.16
PyYAML>=3.11
# Andy in version 1.4.1.post1: Removed pinning of jsonschema<=4.14.0
jsonschema>=2.5.1
requests>=2.10.0
# Andy in version 1.4.1.post1: Changed exact zhmcclient==1.14 version to be minimum
zhmcclient>=1.14
